@model IEnumerable<Recipes>

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;
}

<head>
    <link rel="stylesheet" href="/css/site.css">
</head>

<section class="space-sm flush-with-above">
    <div class="frame">
        <a class="btn btn-primary" asp-controller="Recipes" asp-action="CreateRecipe">Мої заяви</a>
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="container">
            <ul class="row feature-list feature-list-sm">
                @foreach (var item in Model)
                {
                    <li class="col-12 col-md-6 col-lg-4" style="list-style-type: none;">
                        <div class="card">
                            <a type="button" asp-controller="Recipes" asp-action="Details" asp-route-id="1">
                                <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">@item.Name</h4>
                                <p class="card-text">@item.Description</p>
                            </div>                        
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
@*                             @if (isAuthenticated)
                            { *@
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Recipes" asp-action="Edit" asp-route-id="1">
                                        Редагувати
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="1">
                                        Delete
                                    </a>
                                </div>
@*                             } *@
                            </div>
                        <br />
                    </li>
                }
            </ul>
        </div>
    }
</section>